.excel-table {
    width: 100%;
    overflow-x: auto;
    
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        position: relative;
        color: #333;
        text-align: left;
    }

    th {
        cursor: col-resize;
        background-color: #f4f4f4;
    }

        button {
            margin-left: 5px;
        }

    tbody td {
        border: 1px solid #ddd;
        padding: 10px;
    }

        input {
            width: 100%;
            border: none;
            padding: 10px;
            box-sizing: border-box;
            font-size: 16px;
        }

        input:focus {
            outline: none;
            background-color: #e6f7ff;
        }

    tbody tr:nth-child(even) {
        background-color: #cde9de;
    }
